* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #EBDFD7;
}

@font-face {
    font-family: Aeonik;
    font-weight: 300;
    src: url(/fonts/AeonikTRIAL-Light.otf);
}

@font-face {
    font-family: Aeonik;
    font-weight: 700;
    src: url(/fonts//AeonikTRIAL-Bold.otf);
}

@font-face {
    font-family: Aeonik;
    font-weight: 400;
    src: url(/fonts/AeonikTRIAL-Regular.otf);
}

.dasboard {
    display: flex;
}

/* Side-menu Start  */
.side-container {
    width: 260px;
    height: 1114px;
    padding: 35px;
    background-color: #060606;
    display: flex;
    flex-direction: column;
    gap: 60px;
    position: relative;
}

#side-container {
    transition: all 0.5s ease-in-out;
}

.brand-name {
    display: flex;
    align-items: center;
    gap: 11px;
}

.brand-name h2 {
    font-family: 'Aeonik';
    letter-spacing: 0.2px;
    color: #FFFFFF;
}

#brand-name {
    transition: opacity 0.5s ease-in-out;
}

.left-arrow {
    width: 30px;
    height: 30px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 50%;
    position: absolute;
    z-index: 100;
    right: -15px;
    cursor: pointer;
}

#menu-collapse {
    transition: transform 0.5s ease-in-out;
}

.create-new-project {
    width: 184px;
    padding: 5px 20px 5px 7px;
    display: flex;
    align-items: center;
    gap: 11px;
    border: none;
    border-radius: 24px;
    background-color: #FFFFFF;
}

.add-project-btn-icon {
    width: 34px;
    height: 34px;
    background-color: #E65F2B;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 50%;
    transition: display 0.5s ease-in-out;
    cursor: pointer;
}

.create-project-btn-icon {
    width: 48px;
    height: 48px;
    background-color: #E65F2B;
    display: none;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 50%;
    transition: display 0.5s ease-in-out;
    cursor: pointer;
}

.create-new-project p {
    font-size: 14px;
    font-family: 'Aeonik';
    line-height: 16px;
    letter-spacing: 0.2px;
    color: #171717;
    cursor: pointer;
}

.create-new-project p:hover {
    text-decoration: underline;
}

.dashBoard-menu {
    width: 184px;
    transition: width 0.5s ease-in-out;
}

.menu-list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 11px;
}

.item01 {
    background-color: #FFFFFF;
    color: #E65F2B !important;
    border: none;
    border-radius: 24px;
}

.list-item {
    height: 48px;
    padding: 13px 26px 13px 16px;
    font-family: 'Aeonik';
    letter-spacing: 0.2px;
    color: #F1F1F1;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 16px;
}

.list-item img {
    cursor: pointer;
}

.item-txt {
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
}

.question-mark-icon {
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 50%;
    background-color: #E65F2B;
    position: absolute;
    bottom: 25px;
}

/* Side-menu End  */

/* Navigation-bar-start */
.head-container {
    width: calc(100vw - 260px - 17px);
    height: 100px;
    padding: 0 30px;
    display: flex;
    align-items: center;
    border-bottom: 0.5px solid #dfd1c8;
    /* position: absolute;
    left: 260px; */
}

#head-section,
#overview-section,
#remaining-work-section,
#progress-section {
    transition: width 0.5s ease-in-out;
}

.nav-bar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-bar h1 {
    font-family: 'Aeonik';
    letter-spacing: 0.2px;
    color: #000606;
    font-size: 32px;
}

.nav-search {
    display: flex;
    align-items: center;
    gap: 11px;
}

.search-bar {
    width: 336px;
    height: 48px;
    padding: 13px;
    border-radius: 55px;
    display: flex;
    align-items: center;
    gap: 11px;
    background-color: #FFFFFF;
}

.magnifying-glass-icon {
    cursor: pointer;
}

.input-search {
    width: 277px;
    border: none;
    outline: none;
    color: rgba(6, 6, 6, 0.4);
    font-size: 14px;
    font-family: 'Aeonik';
    letter-spacing: 0.2px;
}

.bell-icon {
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 50%;
    background-color: #FFFFFF;
    cursor: pointer;
}

.product-manager {
    width: 195px;
    height: 48px;
    padding-top: 6px;
    border-radius: 24px;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    gap: 5px;
}

.manager-dropdown {
    display: flex;
    align-items: center;
    gap: 11px;
    position: relative;
}

.about-manager {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.manager-name {
    color: #292D32;
    font-size: 14px;
    font-family: 'Aeonik';
    letter-spacing: 0.2px;
}

.manager-post {
    color: rgba(41, 45, 50, 0.44);
    font-size: 12px;
    font-family: 'Aeonik';
    letter-spacing: 0.2px;
}

#dropdown-manager-icon {
    transition: transform 0.5s ease-in-out;
}

.dropdown-box {
    width: 160px;
    padding: 16px 0;
    position: absolute;
    top: 22px;
    z-index: 1000;
    background-color: #FFFFFF;
    opacity: 0;
}

#dropdown-box {
    transition: all 0.5s ease-in-out
}

.dropdown-list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 11px;
}

.dropdown-list-item {
    padding: 13px;
    font-family: 'Aeonik';
    letter-spacing: 0.2px;
    font-size: 14px;
    display: flex;
    align-items: center;
    border-bottom: 0.5px solid #dfd1c8;
}

.dropdown-list :hover {
    background-color: #F1F1F1;
}

.dropdown-list-item a {
    color: #060606;
    text-decoration: none;
}

/* Navigation-bar-End */

/* overview section start */
.overview-section {
    width: calc(100vw - 260px - 17px);
    padding: 15px 30px;
}

.overview-container {
    display: flex;
    flex-direction: column;
    gap: 21px;
}

.overview-row01 {
    display: flex;
    justify-content: space-between;
}

.overview-row01 span {
    font-family: 'Aeonik';
    letter-spacing: 1%;
    color: #060606;
    font-size: 22px;
}

.remaining-days {
    padding: 2px 14px;
    background-color: #FFFFFF;
    border-radius: 17px;
    font-family: 'Aeonik';
    letter-spacing: 1%;
    color: #060606;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 11px;
}

.overview-row02 {
    display: flex;
    gap: 16px;
}

.box {
    width: calc(100vw - 108px - 75% - 30px - 48px);
    padding: 18px 43px 24px 18px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    border-radius: 14px;
    background-color: rgba(255, 255, 255, 0.34);
}

.box-icon {
    width: 46px;
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.revenue-icon {
    background-color: #D398E7;
}

.briefcase-icon {
    background-color: #E89271;
}

.clock-icon {
    background-color: #70A1E5;
}

.User-icon {
    background-color: #F0C274;
}

.box span {
    font-family: 'Aeonik';
    color: #797979;
    font-size: 14px;
}

.box p {
    font-family: 'Aeonik';
    color: #060606;
    font-size: 28px;
    letter-spacing: 0.1px;
}

.box p span {
    font-family: 'Aeonik';
    color: #060606;
    font-size: 16px;
    letter-spacing: 0.4px;
}

.health {
    display: flex;
    align-items: flex-start;
    gap: 5px;
}

.health span {
    font-family: 'Aeonik';
    color: #060606;
    font-size: 11px;
    letter-spacing: 0.2px;
}

/* overview section End */

/* progress section start */
.container {
    width: calc(100vw - 260px - 17px);
    padding: 15px 30px;
    display: flex;
    gap: 30px;
}

.project-summary {
    width: 62%;
    padding: 18px 18px 29px;
    border-radius: 14px;
    background-color: rgba(255, 255, 255, 0.34);
}

.project-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.progress-summary-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.progress-summary-head h3 {
    font-family: 'Aeonik';
    color: #060606;
    font-size: 16px;
    letter-spacing: 0.2px;
}

.project-saction {
    display: flex;
    gap: 8px;
}

.dropdown {
    padding: 14px;
    border-radius: 21px;
    display: flex;
    gap: 10px;
    background-color: #FFFFFF;
}

.dropdown p {
    font-family: 'Aeonik';
    color: #060606;
    font-size: 14px;
    letter-spacing: 0.1px;
}

.progress-summary-container {
    display: flex;
    justify-content: space-between;
}

.progress-summary-container ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 27px;
}

.progress-summary-container ul h4 {
    padding-bottom: 10px;
    font-family: 'Aeonik';
    color: #060606;
    font-size: 14px;
    letter-spacing: 0.1px;
    /* border-bottom: 0.5px solid rgba(0, 0, 0, 0.1); */
}

.progress-summary-container ul li {
    font-family: 'Aeonik';
    color: #060606;
    font-size: 14px;
    letter-spacing: 0.1px;
    display: flex;
}

.status-list {
    gap: 18px !important;
}

.status-list h4 {
    padding-bottom: 15px !important;
}

.complete,
.approved {
    padding: 5px 8px;
    border-radius: 20px;
    background-color: rgba(26, 147, 46, 0.18);
    color: #1A932E;
}

.delayed {
    padding: 5px 8px;
    border-radius: 20px;
    background-color: rgba(226, 177, 51, 0.18);
    color: #DFA510;
}

.at-risk,
.in-review {
    padding: 5px 8px;
    border-radius: 20px;
    background-color: rgba(238, 32, 28, 0.18);
    color: #EE201C;
}

.on-going {
    padding: 5px 8px;
    border-radius: 20px;
    background-color: rgba(223, 95, 43, 0.18);
    color: #E65F2B;
}

.progress-bar {
    align-items: center;
    gap: 15px !important;
}

.progress-circle {
    width: 32px;
    height: 32px;
    position: relative;
}

.progress-circle svg {
    width: 100%;
    height: 100%;
}

.progress-circle .background {
    fill: none;
    stroke: #EEE;
    stroke-width: 11;
}

.progress-circle .progress {
    fill: none;
    stroke-width: 11;
    stroke-linecap: round;
    transform-origin: 50% 50%;
    transform: rotate(-90deg);
    transition: stroke-dashoffset 0.6s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.progress-circle .progress-txt {
    font-family: 'Aeonik';
    font-size: 9px;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.overall-progress {
    width: 38%;
    padding: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 14px;
    background-color: rgba(255, 255, 255, 0.34);
}

.overall-progress-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.overall-progress-head h2 {
    font-family: 'Aeonik';
    color: #060606;
    font-size: 16px;
    letter-spacing: 0.1px;
}

.all-progress-dropdown {
    padding: 8px 14px;
    display: flex;
    gap: 11px;
    background-color: #FFFFFF;
    border-radius: 17px;
}

.all-progress-dropdown p {
    font-family: 'Aeonik';
    color: #060606;
    font-size: 14px;
    letter-spacing: 0.1px;
}

/* progress section End */

/* Remaining work section start */

.today-task {
    width: 62%;
    padding: 18px 18px 29px;
    border-radius: 14px;
    background-color: rgba(255, 255, 255, 0.34);
}

.today-task-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.today-task-container h3 {
    font-family: 'Aeonik';
    color: #060606;
    font-size: 16px;
    letter-spacing: 0.1px;
}

.task-head {
    display: flex;
    gap: 36px;
    padding-bottom: 10px;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.10);
}

.all,
.notes,
.links {
    display: flex;
    align-items: center;
    gap: 8px;
}

.all p,
.notes p,
.links p,
.important p {
    font-family: 'Aeonik';
    color: #060606;
    font-size: 14px;
    letter-spacing: 0.1px;
}

.important {
    /* border-bottom: 1px solid #2B5CE6; */
}

.badge {
    width: 18px;
    height: 17px;
    border-radius: 50%;
    background-color: rgba(43, 92, 230, 0.18);
    color: #2B5CE6;
    font-family: 'Aeonik';
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.task-container {
    display: flex;
    flex-direction: column;
    gap: 11px;
}

.task01,
.task02,
.task03,
.task04,
.task05 {
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.task {
    display: flex;
    gap: 11px;
}

.task span {
    font-family: 'Aeonik';
    color: #060606;
    font-size: 14px;
    letter-spacing: 0.1px;
}

.true-box {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: #E65F2B;
    display: flex;
    align-items: center;
    justify-content: center;

    &.un-marked {
        background-color: transparent;
        border: 1px solid rgba(6, 6, 6, 0.64);
    }
}

/* project-workload section start  */
.project-workload {
    width: 38%;
    padding: 18px 18px 29px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 14px;
    background-color: rgba(255, 255, 255, 0.34);
}

.project-workload-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.project-workload-head h4 {
    font-family: 'Aeonik';
    color: #060606;
    font-size: 16px;
    letter-spacing: 0.1px;
}

.workload-dropdown {
    padding: 8px 14px;
    display: flex;
    gap: 11px;
    background-color: #FFFFFF;
    border-radius: 17px;
}

.workload-dropdown p {
    font-family: 'Aeonik';
    color: #060606;
    font-size: 14px;
    letter-spacing: 0.1px;
}

.project-workload-container {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.project-workload-container ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
}

.project-workload-container ul li {
    padding-top: 12px;
    font-family: 'Aeonik';
    color: #797979;
    font-size: 12px;
    letter-spacing: 0.1px;
}

.project-count {
    width: 30px;
    height: 30px;
    padding: 0 !important;
    border-radius: 50%;
    border: 1px solid rgba(6, 6, 6, 0.64);
    font-size: 14px !important;
    display: flex;
    align-items: center;
    justify-content: center;

    &.top-count {
        background-color: #060606;
        border: none;
        color: #FFFFFF;
    }

    &.active {
        background-color: #E65F2B;
        border: none;
        color: #FFFFFF;
    }
}

/* project-workload section End  */

/* Remaining work section end */