* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #EBDFD7;
}

@font-face {
    font-family: Aeonik;
    font-weight: 300;
    src: url(/fonts/AeonikTRIAL-Light.otf);
}

@font-face {
    font-family: Aeonik;
    font-weight: 700;
    src: url(/fonts//AeonikTRIAL-Bold.otf);
}

@font-face {
    font-family: Aeonik;
    font-weight: 400;
    src: url(/fonts/AeonikTRIAL-Regular.otf);
}

.dasboard {
    display: flex;
}

/* width */
::-webkit-scrollbar {
    width: 11px;
    height: 11px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 6px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 6px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* Side-menu Start  */
.dashboars-side-menu {
    width: 260px;
    height: 100%;
    padding: 35px;
    background-color: #060606;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.5s ease-in-out;
}

.side-container {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.collapse-side-container {
    width: 108px;
    padding: 35px 0;
    align-items: center;
}

.set-height {
    height: 1080px;
}

.side-menu {
    align-items: center;
}

.brand-name {
    display: flex;
    align-items: center;
    gap: 11px;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.disable {
    opacity: 0 !important;
}

.brand-name h2 {
    font-family: 'Aeonik';
    letter-spacing: 0.2px;
    color: #FFFFFF;
}

.left-arrow {
    width: 30px;
    height: 30px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 50%;
    position: absolute;
    z-index: 100;
    left: -46px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.menu-collapse {
    transform: rotate(0deg);
    transition: transform 0.5s ease-in-out;
}

.rotation {
    transform: rotate(180deg);
}

.create-new-project {
    width: 100%;
    padding: 7px;
    display: flex;
    align-items: center;
    gap: 11px;
    border: none;
    border-radius: 24px;
    background-color: #FFFFFF;
    transition: all 0.5s ease-in-out;
}

.collapse-create-project {
    width: 48px;
    background-color: transparent;
    padding: 0;
}

.add-project-btn-icon {
    width: 34px;
    height: 34px;
    background-color: #E65F2B;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 50%;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}

.icon-size {
    width: 48px;
    height: 48px;
}

.create-project-btn-txt {
    font-size: 14px;
    font-family: 'Aeonik';
    line-height: 16px;
    letter-spacing: 0.2px;
    color: #171717;
    cursor: pointer;
}

.create-project-btn-txt:hover {
    text-decoration: underline;
}

.hide {
    display: none;
}

.dashBoard-menu {
    width: 184px;
    transition: width 0.5s ease-in-out;
}

.collapse-dashboard-menu {
    width: 48px;
}

.menu-list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 11px;
}

.item01 {
    background-color: #FFFFFF;
    color: #E65F2B !important;
    border: none;
    border-radius: 24px;
}

.list-item {
    height: 48px;
    padding: 13px 26px 13px 16px;
    font-family: 'Aeonik';
    letter-spacing: 0.2px;
    color: #F1F1F1;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 16px;
}

.list-item img {
    cursor: pointer;
}

.item-txt {
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
}

.question-mark-icon {
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 50%;
    background-color: #E65F2B;
}

/* Side-menu End  */

/* Navigation-bar-start */
.head-container {
    width: calc(100vw - 260px - 17px);
    height: 100px;
    padding: 0 30px;
    display: flex;
    align-items: center;
    border-bottom: 0.5px solid #dfd1c8;
}

#head-section,
#overview-section,
#remaining-work-section,
#progress-section {
    transition: width 0.5s ease-in-out;
}

.set-width {
    width: calc(100vw - 108px - 17px) !important;
}

.nav-bar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.nav-bar h1 {
    font-family: 'Aeonik';
    letter-spacing: 0.2px;
    color: #000606;
    font-size: 32px;
}

.nav-search {
    display: flex;
    align-items: center;
    gap: 11px;
}

.search-bar {
    width: 270px;
    height: 48px;
    padding: 13px;
    border-radius: 55px;
    display: flex;
    align-items: center;
    gap: 11px;
    background-color: #FFFFFF;
}

.magnifying-glass-icon {
    cursor: pointer;
}

.input-search {
    width: 100%;
    border: none;
    outline: none;
    color: rgba(6, 6, 6, 0.4);
    font-size: 14px;
    font-family: 'Aeonik';
    letter-spacing: 0.2px;
}

.bell-icon {
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 50%;
    background-color: #FFFFFF;
    cursor: pointer;
}

.product-manager {
    width: 195px;
    height: 48px;
    padding-top: 6px;
    border-radius: 24px;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    gap: 5px;
}

.manager-dropdown {
    display: flex;
    align-items: center;
    gap: 11px;
    position: relative;
}

.about-manager {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.manager-name {
    color: #292D32;
    font-size: 14px;
    font-family: 'Aeonik';
    letter-spacing: 0.2px;
}

.manager-post {
    color: rgba(41, 45, 50, 0.44);
    font-size: 12px;
    font-family: 'Aeonik';
    letter-spacing: 0.2px;
}

#dropdown-manager-icon {
    transition: transform 0.5s ease-in-out;
}

.dropdown-box {
    width: 160px;
    position: absolute;
    top: 22px;
    z-index: -1;
    background-color: #FFFFFF;
    border-radius: 11px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transition: all 0.5s ease-in-out
}

.dropdown-list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

.dropdown-list-item {
    padding: 8px;
    font-family: 'Aeonik';
    letter-spacing: 0.2px;
    font-size: 14px;
    display: flex;
    align-items: center;
    border-bottom: 0.5px solid #dfd1c8;
}

.dropdown-list :hover {
    background-color: #F1F1F1;
}

.dropdown-list-item a {
    color: #060606;
    text-decoration: none;
}

.menu-bar {
    display: none;
    cursor: pointer;
}

.small-devices-width {
    width: calc(100vw - 17px) !important;
}

/* Navigation-bar-End */

/* overview section start */
.overview-section {
    width: calc(100vw - 260px - 17px);
    padding: 15px 30px;
}

.overview-container {
    display: flex;
    flex-direction: column;
    gap: 21px;
}

.overview-row01 {
    display: flex;
    justify-content: space-between;
}

.overview-row01 span {
    font-family: 'Aeonik';
    letter-spacing: 1%;
    color: #060606;
    font-size: 22px;
}

.remaining-days {
    padding: 2px 14px;
    background-color: #FFFFFF;
    border-radius: 17px;
    font-family: 'Aeonik';
    letter-spacing: 0.1px;
    color: #060606;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 11px;
    position: relative;
}

.dropdown-icon {
    transition: transform 0.5s ease-in-out;
}

.remaining-days-dropdown-box {
    right: 0;
    transition: all 0.5s ease-in-out;
}

.overview-row02 {
    display: flex;
    gap: 16px;
}

.box {
    width: 25%;
    padding: 18px 43px 24px 18px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    border-radius: 14px;
    background-color: rgba(255, 255, 255, 0.34);
}

.box-icon {
    width: 46px;
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.revenue-icon {
    background-color: #D398E7;
}

.briefcase-icon {
    background-color: #E89271;
}

.clock-icon {
    background-color: #70A1E5;
}

.User-icon {
    background-color: #F0C274;
}

.box span {
    font-family: 'Aeonik';
    color: #797979;
    font-size: 14px;
}

.box p {
    font-family: 'Aeonik';
    color: #060606;
    font-size: 28px;
    letter-spacing: 0.1px;
}

.box p span {
    font-family: 'Aeonik';
    color: #060606;
    font-size: 16px;
    letter-spacing: 0.4px;
}

.health {
    display: flex;
    align-items: flex-start;
    gap: 5px;
}

.health span {
    font-family: 'Aeonik';
    color: #060606;
    font-size: 11px;
    letter-spacing: 0.2px;
}

/* overview section End */

/* progress section start */
.container {
    width: calc(100vw - 260px - 17px);
    padding: 15px 30px;
    display: flex;
    gap: 30px;
}

.project-summary {
    width: 62%;
    padding: 18px 18px 29px;
    border-radius: 14px;
    background-color: rgba(255, 255, 255, 0.34);
    overflow-x: auto;
}

.project-container {
    min-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.progress-summary-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.progress-summary-head h3 {
    font-family: 'Aeonik';
    color: #060606;
    font-size: 16px;
    letter-spacing: 0.2px;
}

.project-saction {
    display: flex;
    gap: 8px;
}

.dropdown {
    padding: 14px;
    border-radius: 21px;
    display: flex;
    gap: 10px;
    background-color: #FFFFFF;
    position: relative;
}

.dropdown p {
    font-family: 'Aeonik';
    color: #060606;
    font-size: 14px;
    letter-spacing: 0.1px;
}

.project-dropdown-box {
    width: 180px;
    right: -42px;
    transition: all 0.5s ease-in-out;
}

.project-manager-dropdown-box {
    right: -5px;
    transition: all 0.5s ease-in-out;
}

.project-status-dropdown-box {
    right: 0;
    transition: all 0.5s ease-in-out;
}

.progress-summary-container table {
    width: 100%;
}

table thead tr {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

table thead th {
    font-family: 'Aeonik';
    color: #060606;
    font-size: 14px;
    letter-spacing: 0.1px;
}

table tbody td {
    font-family: 'Aeonik';
    color: #060606;
    font-size: 14px;
    letter-spacing: 0.1px;
}

table td,
th {
    padding-bottom: 11px;
    border-spacing: 11px 0;
    text-align: left;
}

table tbody td:last-child {
    padding: 0 11px;
}

.complete,
.approved {
    padding: 5px 8px;
    border-radius: 20px;
    background-color: rgba(26, 147, 46, 0.18);
    color: #1A932E;
    font-family: 'Aeonik';
    font-size: 14px;
    letter-spacing: 0.1px;
}

.delayed {
    padding: 5px 8px;
    border-radius: 20px;
    background-color: rgba(226, 177, 51, 0.18);
    color: #DFA510;
    font-family: 'Aeonik';
    font-size: 14px;
    letter-spacing: 0.1px;
}

.at-risk,
.in-review {
    padding: 5px 8px;
    border-radius: 20px;
    background-color: rgba(238, 32, 28, 0.18);
    color: #EE201C;
    font-family: 'Aeonik';
    font-size: 14px;
    letter-spacing: 0.1px;
}

.on-going {
    padding: 5px 8px;
    border-radius: 20px;
    background-color: rgba(223, 95, 43, 0.18);
    color: #E65F2B;
    font-family: 'Aeonik';
    font-size: 14px;
    letter-spacing: 0.1px;
}

.progress-bar {
    align-items: center;
    gap: 15px !important;
}

.progress-circle {
    width: 32px;
    height: 32px;
    position: relative;
}

.progress-circle svg {
    width: 100%;
    height: 100%;
}

.progress-circle .background {
    fill: none;
    stroke: rgba(0, 0, 0, 0.08);
    stroke-width: 11;
}

.progress-circle .progress {
    fill: none;
    stroke-width: 11;
    stroke-linecap: round;
    transform-origin: 50% 50%;
    transform: rotate(-90deg);
    transition: stroke-dashoffset 0.6s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.progress-circle .progress-txt {
    font-family: 'Aeonik';
    font-size: 9px;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.overall-progress {
    width: 38%;
    padding: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 14px;
    background-color: rgba(255, 255, 255, 0.34);
}

.overall-progress-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.overall-progress-head h2 {
    font-family: 'Aeonik';
    color: #060606;
    font-size: 16px;
    letter-spacing: 0.1px;
    cursor: pointer;
}

.all-progress-dropdown {
    padding: 8px 14px;
    display: flex;
    gap: 11px;
    background-color: #FFFFFF;
    border-radius: 17px;
    position: relative;
}

.all-progress-dropdown p {
    font-family: 'Aeonik';
    color: #060606;
    font-size: 14px;
    letter-spacing: 0.1px;
}

.overall-progress-dropdown-box {
    right: -17px;
    transition: all 0.5s ease-in-out;
}

.progress-track {
    position: relative;
    width: 100%;
    height: 178px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.progress-track svg {
    width: 100%;
    height: 100%;
}

.progress-track .process-track-background {
    fill: none;
    stroke: rgba(0, 0, 0, 0.08);
    stroke-width: 5;
}

.progress-track .actual-progress {
    fill: none;
    stroke-width: 5;
    stroke-linecap: round;
    stroke: url(#gradient);
    stroke-dasharray: 283;
    stroke-dashoffset: 283;
    transition: stroke-dashoffset 1s ease;
}

.progress-val {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.percentage-value {
    font-family: 'Aeonik';
    color: #060606;
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    letter-spacing: 0.1px;
}

.progress-val span {
    font-family: 'Aeonik';
    color: #9A9A9A;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.1px;
}

.progress-count {
    display: flex;
    justify-content: space-between;
}

.total-project,
.complete-project,
.delayed-project,
.on-going-project {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.total-project :first-child {
    font-family: 'Aeonik';
    color: #060606;
    font-size: 22px;
    letter-spacing: 0.1px;
}

.complete-project :first-child {
    font-family: 'Aeonik';
    color: #1A932E;
    font-size: 22px;
    letter-spacing: 0.1px;
}

.delayed-project :first-child {
    font-family: 'Aeonik';
    color: #DFA510;
    font-size: 22px;
    letter-spacing: 0.1px;
}

.on-going-project :first-child {
    font-family: 'Aeonik';
    color: #E65F2B;
    font-size: 22px;
    letter-spacing: 0.1px;
}

.status-label {
    font-family: 'Aeonik';
    color: #797979;
    font-size: 14px;
    letter-spacing: 0.1px;
}

/* progress section End */

/* Remaining work section start */

.today-task {
    width: 62%;
    padding: 18px 18px 29px;
    border-radius: 14px;
    background-color: rgba(255, 255, 255, 0.34);
    overflow-x: auto;
}

.today-task-container {
    min-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.today-task-container h3 {
    font-family: 'Aeonik';
    color: #060606;
    font-size: 16px;
    letter-spacing: 0.1px;
}

.task-head {
    display: flex;
    gap: 36px;
    padding-bottom: 10px;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.10);
}

.all,
.notes,
.links {
    display: flex;
    align-items: center;
    gap: 8px;
}

.all p,
.notes p,
.links p,
.important p {
    font-family: 'Aeonik';
    color: #060606;
    font-size: 14px;
    letter-spacing: 0.1px;
}

.badge {
    width: 18px;
    height: 17px;
    border-radius: 50%;
    background-color: rgba(43, 92, 230, 0.18);
    color: #2B5CE6;
    font-family: 'Aeonik';
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.task-container {
    display: flex;
    flex-direction: column;
    gap: 11px;
}

.task01,
.task02,
.task03,
.task04,
.task05 {
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.task {
    display: flex;
    gap: 11px;
}

.task span {
    font-family: 'Aeonik';
    color: #060606;
    font-size: 14px;
    letter-spacing: 0.1px;
}

.true-box {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: #E65F2B;
    display: flex;
    align-items: center;
    justify-content: center;

    &.un-marked {
        background-color: transparent;
        border: 1px solid rgba(6, 6, 6, 0.64);
    }
}

/* project-workload section start  */
.project-workload {
    width: 38%;
    padding: 18px 18px 29px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 14px;
    background-color: rgba(255, 255, 255, 0.34);
    overflow-x: auto;
}

.project-workload-head {
    min-width: 400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.project-workload-head h4 {
    font-family: 'Aeonik';
    color: #060606;
    font-size: 16px;
    letter-spacing: 0.1px;
}

.workload-dropdown {
    padding: 8px 14px;
    display: flex;
    gap: 11px;
    background-color: #FFFFFF;
    border-radius: 17px;
    position: relative;
}

.workload-dropdown p {
    font-family: 'Aeonik';
    color: #060606;
    font-size: 14px;
    letter-spacing: 0.1px;
}

.remaining-months-dropdown-box {
    right: -11px;
    transition: all 0.5s ease-in-out;
}

.project-workload-container {
    min-width: 400px;
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
}

.project-workload-container ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
}

.project-workload-container ul li {
    padding-top: 12px;
    font-family: 'Aeonik';
    color: #797979;
    font-size: 12px;
    letter-spacing: 0.1px;
}

.project-count {
    width: 30px;
    height: 30px;
    padding: 0 !important;
    border-radius: 50%;
    border: 1px solid rgba(6, 6, 6, 0.64);
    font-size: 14px !important;
    display: flex;
    align-items: center;
    justify-content: center;

    &.top-count {
        background-color: #060606;
        border: none;
        color: #FFFFFF;
    }

    &.active {
        background-color: #E65F2B;
        border: none;
        color: #FFFFFF;
    }
}

/* project-workload section End  */

/* Remaining work section end */

/* Media queries for tablets  */

@media only screen and (min-width: 600px) and (max-width: 1024px) {

    /* header section start */
    .nav-search {
        display: none;
    }

    .side-arr-position {
        position: fixed !important;
        left: 244px;
    }

    .menu-bar {
        display: flex;
    }

    .position {
        height: 100vh;
        position: fixed;
        overflow-y: auto;
        z-index: 1;
    }

    /* header section End */

    /* overview section start */

    .overview-row02 {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        row-gap: 21px;
    }

    .box {
        width: 48%;
    }

    /* overview section End */


    /* progress section start */
    .container {
        display: flex;
        flex-wrap: wrap;
    }

    .project-summary,
    .overall-progress,
    .today-task,
    .project-workload {
        width: 100%;
    }

    .overall-progress-container {
        display: flex;
        flex-direction: column;
    }

    .progress-count {
        gap: 41px;
    }

    /* progress section End */

    .task01,
    .task02,
    .task03,
    .task04,
    .task05 {
        width: 100%;
    }
}

/* Media queries for tablets  */

@media only screen and (max-width: 599px) {

    /* side menu section start  */
    .dashboard-container {
        display: none;
    }

    .position {
        height: 100vh;
        position: fixed;
        overflow-y: auto;
        display: flex;
        z-index: 1;
    }

    /* side menu section End */

    /* header section start */
    .head-container,
    .overview-section,
    .container {
        width: calc(100vw - 17px);
    }

    .left-arrow {
        position: unset;
        transform: rotate(180deg);
    }

    .side-arr-position {
        position: fixed !important;
        left: 244px;
    }

    .nav-bar h1 {
        font-size: 27px;
    }

    .nav-search {
        display: none;
    }

    .menu-bar {
        display: flex;
    }

    /* header section End */

    /* overview section start */

    .overview-row02 {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        row-gap: 21px;
    }

    .box {
        width: 100%;
    }

    /* overview section End */

    /* progress section start */
    .container {
        display: flex;
        flex-wrap: wrap;
    }

    .project-summary,
    .overall-progress,
    .today-task,
    .project-workload {
        width: 100%;
    }

    .overall-progress-container {
        display: flex;
        flex-direction: column;
        align-items: self-start;
    }

    .progress-count {
        flex-direction: column;
        gap: 41px;
    }

    /* progress section End */

    .task01,
    .task02,
    .task03,
    .task04,
    .task05 {
        width: 100%;
    }
}