* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #EBDFD7;
}

@font-face {
    font-family: Aeonik;
    font-weight: 300;
    src: url(/fonts/AeonikTRIAL-Light.otf);
}

@font-face {
    font-family: Aeonik;
    font-weight: 700;
    src: url(/fonts//AeonikTRIAL-Bold.otf);
}

@font-face {
    font-family: Aeonik;
    font-weight: 400;
    src: url(/fonts/AeonikTRIAL-Regular.otf);
}

.dasboard {
    display: flex;
}

/* Side-menu Start  */
.side-container {
    width: 260px;
    height: 1080px;
    padding: 35px;
    background-color: #060606;
    display: flex;
    flex-direction: column;
    gap: 60px;
    position: relative;
}

#side-container {
    transition: all 0.5s ease-in-out;
}

.brand-name {
    display: flex;
    align-items: center;
    gap: 11px;
}

.brand-name h2 {
    font-family: 'Aeonik';
    letter-spacing: 0.2px;
    color: #FFFFFF;
}

#brand-name {
    transition: visibility 0.5s ease-in-out;
}

.left-arrow {
    width: 30px;
    height: 30px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 50%;
    position: absolute;
    z-index: 100;
    right: -15px;
    cursor: pointer;
}

#menu-collapse {
    transition: transform 0.5s ease-in-out;
}

.create-new-project {
    width: 184px;
    padding: 5px 20px 5px 7px;
    display: flex;
    align-items: center;
    gap: 11px;
    border: none;
    border-radius: 24px;
    background-color: #FFFFFF;
}

.add-project-btn-icon {
    width: 34px;
    height: 34px;
    background-color: #E65F2B;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 50%;
    transition: display 0.5s ease-in-out;
    cursor: pointer;
}

.collapse-btn-icon {
    width: 48px;
    height: 48px;
    background-color: #E65F2B;
    display: none;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 50%;
    transition: display 0.5s ease-in-out;
    cursor: pointer;
}

.create-new-project p {
    font-size: 14px;
    font-family: 'Aeonik';
    line-height: 16px;
    letter-spacing: 0.2px;
    color: #171717;
    cursor: pointer;
}

.create-new-project p:hover {
    text-decoration: underline;
}

.dashBoard-menu {
    width: 184px;
    transition: width 0.5s ease-in-out;
}

.menu-list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 11px;
}

.item01 {
    background-color: #FFFFFF;
    color: #E65F2B !important;
    border: none;
    border-radius: 24px;
}

.list-item {
    height: 48px;
    padding: 13px 26px 13px 16px;
    font-family: 'Aeonik';
    letter-spacing: 0.2px;
    color: #F1F1F1;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 16px;
}

.list-item img {
    cursor: pointer;
}

.item-txt {
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
}

.question-mark-icon {
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 50%;
    background-color: #E65F2B;
    position: absolute;
    bottom: 25px;
}

/* Side-menu End  */

/* Navigation-bar-start */
.container {
    width: calc(100vw - 260px - 17px);
    height: 100px;
    padding: 0 30px;
    display: flex;
    align-items: center;
    border-bottom: 0.5px solid #dfd1c8;
    /* position: absolute;
    left: 260px; */
}

#head-section {
    transition: width 0.5s ease-in-out;
}

.nav-bar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-bar h1 {
    font-family: 'Aeonik';
    letter-spacing: 0.2px;
    color: #000606;
    font-size: 32px;
}

.nav-search {
    display: flex;
    align-items: center;
    gap: 11px;
}

.search-bar {
    width: 336px;
    height: 48px;
    padding: 13px;
    border-radius: 55px;
    display: flex;
    align-items: center;
    gap: 11px;
    background-color: #FFFFFF;
}

.magnifying-glass-icon {
    cursor: pointer;
}

.input-search {
    width: 277px;
    border: none;
    outline: none;
    color: rgba(6, 6, 6, 0.4);
    font-size: 14px;
    font-family: 'Aeonik';
    letter-spacing: 0.2px;
}

.bell-icon {
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 50%;
    background-color: #FFFFFF;
    cursor: pointer;
}

.product-manager {
    width: 195px;
    height: 48px;
    padding-top: 6px;
    border-radius: 24px;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    gap: 5px;
}

.manager-dropdown {
    display: flex;
    align-items: center;
    gap: 11px;
    position: relative;
}

.about-manager {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.manager-name {
    color: #292D32;
    font-size: 14px;
    font-family: 'Aeonik';
    letter-spacing: 0.2px;
}

.manager-post {
    color: rgba(41, 45, 50, 0.44);
    font-size: 12px;
    font-family: 'Aeonik';
    letter-spacing: 0.2px;
}

#dropdown-manager-icon{
    transition: transform 0.5s ease-in-out;
}

.dropdown-box{
    width: 160px;
    padding: 16px 0;
    position: absolute;
    top: 22px;
    z-index: 1000;
    background-color: #FFFFFF;
    opacity: 0;
}

#dropdown-box{
    transition: all 0.5s ease-in-out
}

.dropdown-list{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 11px;
}

.dropdown-list-item{
    padding: 13px;
    font-family: 'Aeonik';
    letter-spacing: 0.2px;
    font-size: 14px;
    display: flex;
    align-items: center;
    border-bottom: 0.5px solid #dfd1c8;
}

.dropdown-list :hover{
    background-color: #F1F1F1;
}

.dropdown-list-item a{
    color: #060606;
    text-decoration: none;
}

/* Navigation-bar-End */

/* overview section start */
.overview-section {
    width: calc(100vw - 260px - 17px);
    padding: 15px 30px;
}

#overview-section {
    transition: width 0.5s ease-in-out;
}

.overview-container {
    display: flex;
    flex-direction: column;
    gap: 21px;
}

.overview-row01 {
    display: flex;
    justify-content: space-between;
}

.overview-row01 span {
    font-family: 'Aeonik';
    letter-spacing: 1%;
    color: #060606;
    font-size: 22px;
}

.remaining-days {
    padding: 2px 14px;
    background-color: #FFFFFF;
    border-radius: 17px;
    font-family: 'Aeonik';
    letter-spacing: 1%;
    color: #060606;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 11px;
}

.overview-row02 {
    display: flex;
    gap: 16px;
}

.box {
    width: calc(100vw - 108px - 75% - 30px - 48px);
    padding: 18px 43px 24px 18px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    border-radius: 14px;
    background-color: rgba(255, 255, 255, 0.34);
}

.box-icon {
    width: 46px;
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.revenue-icon {
    background-color: #D398E7;
}

.briefcase-icon {
    background-color: #E89271;
}

.clock-icon {
    background-color: #70A1E5;
}

.User-icon {
    background-color: #F0C274;
}

.box span{
    font-family: 'Aeonik';
    color: #797979;
    font-size: 14px;    
}

.box p{
    font-family: 'Aeonik';
    color: #060606;
    font-size: 28px;    
    letter-spacing: 0.1px;
}

.box p span{
    font-family: 'Aeonik';
    color: #060606;
    font-size: 16px;    
    letter-spacing: 0.4px;
}

.health{
    display: flex;
    align-items: flex-start;
    gap: 5px;
}

.health span{
    font-family: 'Aeonik';
    color: #060606;
    font-size: 11px;    
    letter-spacing: 0.2px;
}

/* overview section End */

/* progress section start */
.progress{
    padding: 15px 30px;
    display: flex;
    gap: 30px;
}

.project-summary{
    padding: 18px 18px 29px;
    border-radius: 14px;
    background-color: rgba(255, 255, 255, 0.34);
}

.project-container{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.progress-summary-head{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.progress-summary-head p{
    font-family: 'Aeonik';
    color: #060606;
    font-size: 16px;    
    letter-spacing: 0.1px;    
}

.project-saction{
    display: flex;
    gap: 8px;
}

.dropdown{
    padding: 14px;
    border-radius: 21px;
    display: flex;
    gap: 10px;
    background-color: #FFFFFF;
}

.dropdown p{
    font-family: 'Aeonik';
    color: #060606;
    font-size: 14px;    
    letter-spacing: 0.1px;    
}

.progress-summary-container{
    display: flex;
}

.progress-summary-container ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 27px;
}
/* progress section End */